*{margin: 0;padding: 0;}
#wrap{
	color: rgb(30,30,30);
	background: rgb(240,240,240);
	width: 100%;
}
#start{
	height: 100vh;
	background: rgb(40,40,40);
	text-align: center;
	color: white;
	font-variant: small-caps;
}
#start_text{
	margin: 0 auto;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
#myth{
	font-size: 70px;
	padding: 20px 0;
	text-align: center;
	width: 100%;
	font-variant: small-caps;
}
#myth.fixed{
	position:fixed;
	top:0px;
}
#tagline{
	font-size: 30px;
	font-family: verdana;
	text-align: center;
	padding: 5px 0;
	font-variant: small-caps;
	background: rgb(30,30,30);
	color: white;
}
#foot{
	border-top: 10px solid black;
	font-size: 30px;
	color: white;
	font-family: verdana;
	padding: 40px 0;
	bottom: 0;
	width: 100%;
	background: rgba(102,0,102,1);
	background: -moz-linear-gradient(top, rgba(102,0,102,1) 0%, rgba(5,0,5,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,0,102,1)), color-stop(100%, rgba(5,0,5,1)));
	background: -webkit-linear-gradient(top, rgba(102,0,102,1) 0%, rgba(5,0,5,1) 100%);
	background: -o-linear-gradient(top, rgba(102,0,102,1) 0%, rgba(5,0,5,1) 100%);
	background: -ms-linear-gradient(top, rgba(102,0,102,1) 0%, rgba(5,0,5,1) 100%);
	background: linear-gradient(to bottom, rgba(102,0,102,1) 0%, rgba(5,0,5,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660066', endColorstr='#050005', GradientType=0 );
}
#foot p{
	padding-bottom: 60px;
	text-align: center;
}
#icon{
	width: 30%;
	display: inline-block;
}
#icon ul{
	list-style: none;
	text-align: center;
	margin-left: 100px;
}
#icon ul li{
	height: 32px;
	padding: 10px;
}
#fb{background: #4D67A3;}
#tw{background: #25A7DF;}
#tb{background: #2C4661;}
#ig{background: #40719A;}
#az{background: #FB9A17;}
#eb{background: #C6C7C9;}
#links{
	display: inline-block;
	width: 50%;
	font-size: 30px;
}
#links ul{
	list-style: none;
}
#links ul li{
	height: 32px;
	padding: 10px 20px;
}
#links ul li:hover{background: black;}
#navigator{
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(105,105,105,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(105,105,105,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(105,105,105,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(105,105,105,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(105,105,105,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(105,105,105,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#696969', GradientType=0 );
	text-align: center;
	/*box shadow*/
	-moz-box-shadow: 0px 2px 16px #000000;
	-webkit-box-shadow: 0px 2px 16px #000000;
	box-shadow: 0px 2px 20px #000000;
	width: 100%;
}
#navigator.fixed{
	position:fixed;
	top:0px;
}
#navigator ul{
	list-style: none;
	font-weight: bold;
	text-align: center;
}
#navigator>ul>li{
	display: inline-block;
	font-size: 20px;
	padding: 10px 0;
	width: 15%;
}
#navigator>ul>li>ul>li{
	font-size: 20px;

}
#navigator>ul>li:hover{
	background: rgba(0,0,0,.7);
}
/*nav begin*/
nav>ul>li>ul{
		border-top: solid 6px orange;
		margin-top: 10px;
    position:absolute;
    z-index:1;
    display:none;
    background: gray;
    width: 15%;
}
nav>ul>li>ul>li{padding-top: 5px;}
nav>ul>li:hover>ul {
    display:block;
    background: rgba(25,25,25,1);
}
nav a {
    text-decoration:none;
    color: white;
}
nav>ul>li a:hover{color: black;}
/*nav end*/
#intro{
	padding: 30px 0;
	text-align: center;
}
#intro h1{
	text-align: center;
	margin-bottom: 20px;
	width: 60%;
	margin: auto;
	border-bottom: 3px solid black;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
#intro p{
	font-size: 20px;
	padding: 0 20px;
}
#anchor{
	position: absolute;
	top: 100vh;
}
/*pets*/
#petbody{background: black;}
#pets{
	background: gray;
	padding: 40px 0;
	text-align: center;
	font-size: 50px;
}
#selection{
	width: 10%;
	background: blue;
	height: 100vh;
	position: fixed;
}
#petnav{
}
#petnav ul{
	list-style: none;
}
#petnav ul li{
	width: 100%;
	font: 20px;
	padding: 10px 0;
	padding-left: 20%; 
}
#petnav ul li:hover{
	width: 95%;
	background: white;
	color: black;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
#petwrap{
	width: 90%;
	background: rgb(230,230,230);
	height: 800px;
	float: right;
}
#petwrap p{
	padding: 30px;
	font-size: 16px;
	width: 100%;
}
.image_container{
	width: 100%;
	background: black;
	padding: 5px 0;
	text-align: center;
}
.image_container img{
	width: 3%;
	height: 25px;
	margin: 0 20px;
	display: inline-block;
}
.description{
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,.7);
	display: none;
}
.img_des{
	float: left;
}
.img{
	text-align: center;
	background: black;
	width: 50%;
	float: right;
}
.thumb{
	max-width: 350px;
	max-height: auto;
}
#dragon{ 
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(150,150,150,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(150,150,150,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#969696', GradientType=1 );
	/**/
	width: 100%;
	height: auto;
	border-top-right-radius: 30px;
}
#dragon h1{
	 -webkit-text-stroke: .1px white;
	 color: black;
	 font-weight: bold;
	 background: rgba(0,0,0,.5);
	 width: 40%;
	 margin-left: 10%;
	 padding: 10px 40px;
	 font-family: "droid serif";
	 border-bottom-left-radius: 30px;
		-moz-box-shadow: 10px 1px 10px rgba(0,0,0,.5);
		-webkit-box-shadow: 10px 1px 10px rgba(0,0,0,.5);
		box-shadow: 10px 1px 10px rgba(0,0,0,.5);
}
#dragon p{
	margin-top: 30px;
	padding: 20px;
	padding-left: 40px;
	color: rgba(255,255,255,.5);
	background: rgba(0,0,0,.3);
	width: 70%;
	border-top-right-radius: 30px;
}
#avian{
	background: rgba(59,196,255,1);
	background: -moz-linear-gradient(-45deg, rgba(59,196,255,1) 0%, rgba(213,248,250,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(59,196,255,1)), color-stop(100%, rgba(213,248,250,1)));
	background: -webkit-linear-gradient(-45deg, rgba(59,196,255,1) 0%, rgba(213,248,250,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(59,196,255,1) 0%, rgba(213,248,250,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(59,196,255,1) 0%, rgba(213,248,250,1) 100%);
	background: linear-gradient(135deg, rgba(59,196,255,1) 0%, rgba(213,248,250,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bc4ff', endColorstr='#d5f8fa', GradientType=1 );
	/**/
	width: 100%;
}
#avian h1{
	 -webkit-text-stroke: .1px white;
	 color: rgb(28, 188, 252);
	 font-weight: bold;
	 background: rgba(0, 0, 255, 0.5);
	 width: 40%;
	 margin-left: 10%;
	 padding: 10px 40px;
	 font-family: "droid serif";
	 border-bottom-left-radius: 30px;
		-moz-box-shadow: 10px 1px 10px rgba(0, 0, 255, 0.5);
		-webkit-box-shadow: 10px 1px 10px rgba(0, 0, 255, 0.5);
		box-shadow: 10px 1px 10px rgba(0, 0, 255, 0.5);
}
#avian p{
	margin-top: 30px;
	padding: 20px;
	padding-left: 40px;
	color: rgba(255,255,255,.5);
	background: rgba(0, 0, 255, 0.3);
	width: 70%;
	border-top-right-radius: 30px;
}
#beast{
	background: rgba(255,255,105,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,105,1) 0%, rgba(252,250,219,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,105,1)), color-stop(100%, rgba(252,250,219,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,105,1) 0%, rgba(252,250,219,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,105,1) 0%, rgba(252,250,219,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,105,1) 0%, rgba(252,250,219,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,105,1) 0%, rgba(252,250,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff69', endColorstr='#fcfadb', GradientType=1 );
	/**/
	width: 100%;
}
#beast h1{
	 -webkit-text-stroke: .1px black;
	 color: rgba(136, 137, 0, 0.8);
	 font-weight: bold;
	 background: rgba(255, 255, 0, 1);
	 width: 40%;
	 margin-left: 10%;
	 padding: 10px 40px;
	 font-family: "droid serif";
	 border-bottom-left-radius: 30px;
		-moz-box-shadow: 10px 1px 10px rgba(255, 255, 0, 0.5);
		-webkit-box-shadow: 10px 1px 10px rgba(255, 255, 0, 0.5);
		box-shadow: 10px 1px 10px rgba(255, 255, 0, 0.5);
}
#beast p{
	margin-top: 30px;
	padding: 20px;
	padding-left: 40px;
	color: rgba(0,0,0,.7);
	background: rgba(255, 255, 0, 0.3);
	width: 70%;
	border-top-right-radius: 30px;
}
#sea{
	background: rgba(2,13,138,1);
	background: -moz-linear-gradient(-45deg, rgba(2,13,138,1) 0%, rgba(105,125,255,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(2,13,138,1)), color-stop(100%, rgba(105,125,255,1)));
	background: -webkit-linear-gradient(-45deg, rgba(2,13,138,1) 0%, rgba(105,125,255,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(2,13,138,1) 0%, rgba(105,125,255,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(2,13,138,1) 0%, rgba(105,125,255,1) 100%);
	background: linear-gradient(135deg, rgba(2,13,138,1) 0%, rgba(105,125,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020d8a', endColorstr='#697dff', GradientType=1 );
	/**/
	width: 100%;
}
#sea h1{
	 -webkit-text-stroke: .1px white;
	 color: rgba(0, 0, 164, 0.5);
	 font-weight: bold;
	 background: rgba(0, 0, 164, 0.9);
	 width: 40%;
	 margin-left: 10%;
	 padding: 10px 40px;
	 font-family: "droid serif";
	 border-bottom-left-radius: 30px;
		-moz-box-shadow: 10px 1px 10px rgba(0, 0, 164, 0.9);
		-webkit-box-shadow: 10px 1px 10px rgba(0, 0, 164, 0.9);
		box-shadow: 10px 1px 10px rgba(0, 0, 164, 0.9);
}
#sea p{
	margin-top: 30px;
	padding: 20px;
	padding-left: 40px;
	color: rgba(0,0,0,.7);
	background: rgba(0, 0, 164, 0.5);
	width: 70%;
	border-top-right-radius: 30px;
}
#serpent{
	background: rgba(66,0,99,1);
	background: -moz-linear-gradient(-45deg, rgba(66,0,99,1) 0%, rgba(227,143,255,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(66,0,99,1)), color-stop(100%, rgba(227,143,255,1)));
	background: -webkit-linear-gradient(-45deg, rgba(66,0,99,1) 0%, rgba(227,143,255,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(66,0,99,1) 0%, rgba(227,143,255,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(66,0,99,1) 0%, rgba(227,143,255,1) 100%);
	background: linear-gradient(135deg, rgba(66,0,99,1) 0%, rgba(227,143,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#420063', endColorstr='#e38fff', GradientType=1 );
	/**/
	width: 100%;
}
#serpent h1{
	 -webkit-text-stroke: .1px white;
	 color: rgba(0, 0, 164, 0.5);
	 font-weight: bold;
	 background: rgba(172, 0, 175, 0.6);
	 width: 40%;
	 margin-left: 10%;
	 padding: 10px 40px;
	 font-family: "droid serif";
	 border-bottom-left-radius: 30px;
		-moz-box-shadow: 10px 1px 10px rgba(172, 0, 175, 0.6);
		-webkit-box-shadow: 10px 1px 10px rgba(172, 0, 175, 0.6);
		box-shadow: 10px 1px 10px rgba(172, 0, 175, 0.6);
}
#serpent p{
	margin-top: 30px;
	padding: 20px;
	padding-left: 40px;
	color: rgba(0,0,0,.7);
	background: rgba(172, 0, 175, 0.3);
	width: 70%;
	border-top-right-radius: 30px;
}
#plant{
	background: rgba(19,97,0,1);
	background: -moz-linear-gradient(-45deg, rgba(19,97,0,1) 0%, rgba(145,255,149,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(19,97,0,1)), color-stop(100%, rgba(145,255,149,1)));
	background: -webkit-linear-gradient(-45deg, rgba(19,97,0,1) 0%, rgba(145,255,149,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(19,97,0,1) 0%, rgba(145,255,149,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(19,97,0,1) 0%, rgba(145,255,149,1) 100%);
	background: linear-gradient(135deg, rgba(19,97,0,1) 0%, rgba(145,255,149,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#136100', endColorstr='#91ff95', GradientType=1 );
	/**/
	width: 100%;
	height: 200px;
}
/*pets end*/